.card {
    box-shadow: 0 1px 5px rgb(223, 223, 223);
    transition: 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 1px 5px rgb(182, 181, 181);
}

.card-title {
    font-weight: bold;
    font-size: 1.1em;
}

.card-text {
    font-size: 0.9em;
}

.btn-link {
    color: #8abefe;
    text-decoration: none;
}

.card-img-top {
    height: 200px;
}
